# Transforming Data Based on Textual Descriptions

Learn how to apply transformations to source data based on textual descriptions for data enrichment, preparation, and explanation. This notebook demonstrates how to add fields and transform datasets using DataWizzAI, providing a powerful tool for data manipulation and enhancement.

# Initial Setup Guide

## Import Required Packages

In [13]:
# First, import all the necessary packages.
from langchain_openai import ChatOpenAI
from src.DataDefiner import *
from src.DataAugmentor import DataAugmentor
from src.utils.utils import parse_output, try_parse_json, create_json_sample_from_csv, compose_query_message

In [14]:
## Load Environment Variables

from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

## Initialize the Language Model

In [15]:
# Please make sure OPENAI_API_KEY is loaded to your environment variables
# Initialize language model
llm = ChatOpenAI(temperature=0.9, model="gpt-3.5-turbo")

# Transform Source Data with a textual description

This section demonstrates how to add a field indicating the main explanation for each passenger's survival in the Titanic dataset.

## Read source file

In [16]:
import os
import pandas as pd
# Specify the path and file name
path = r'C:\Users\Sigal\data\\'
file_name = r"titanic.csv"

In [17]:
# Construct the full file path
full_file_path = os.path.join(path, file_name)

# Read the CSV file into a DataFrame
df = pd.read_csv(full_file_path)

## Initialize Data Transformer

With the data structure extracted, you're ready to initialize the DataAugmentor object that will be used for generating data.

In [18]:
from src.DataTransformer import DataTransformer

In [19]:
# Instantiate the DataTransformer with the language model
DataTransformerObj = DataTransformer(llm=llm)

## Defining Data Transformation

In [27]:
# Define the transformation based on a user's description and apply it to the data.
query = "Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds)"
results = DataTransformerObj.define_transformation(source_data={"titanic": df}, description=query)
print("Transformed Sample Data:")
print(results)

> Entering new SequentialChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId":26,"Survived":1,"Pclass":3,"Name":"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)","Sex":"female","Age":38.0,"SibSp":1,"Parch":5,"Ticket":"347077","Fare":31.3875,"Cabin":null,"Embarked":"S"},{"PassengerId":105,"Survived":0,"Pclass":3,"Name":"Gustafsson, Mr. Anders Vilhelm","Sex":"male","Age":37.0,"SibSp":2,"Parch":0,"Ticket":"3101276","Fare":7.925,"Cabin":null,"Embarked":"S"},{"PassengerId":788,"Survived":0,"Pclass":3,"Name":"Rice, Master. George Hugh","Sex":"male","Age":8.0,"SibSp":4,"Parch":1,"Ticket":"382652","Fare":29.125,"Cabin":null,"Embarked":"Q"},{"PassengerId":864,"Survived":0,"Pclass":3,"Name":"Sage, Miss. Dorothy Edith \\Dolly\\\"\"","Sex":"female","Age":null,"SibSp":8,"Parch":2,"Ticket":"CA. 2343","Fare":69.55,"Cabin":null,"Embarked":"S"},{"PassengerId":458,"Survived":1,"Pclass":1,"Name":"Kenyon, Mrs. Frederick R (Marion)","Sex":"female","Age":null,"SibSp":1,"Parch":0,"Ticket":"17464","Fare":51.8625,"Cabin":"D21","Embarked":"S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.

> Finished chain.
Transformed Sample Data:
{
    "titanic": [
        {
            "PassengerId": 26,
            "Survived": 1,
            "Pclass": 3,
            "Name": "Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",
            "Sex": "female",
            "Age": 38.0,
            "SibSp": 1,
            "Parch": 5,
            "Ticket": "347077",
            "Fare": 31.3875,
            "Cabin": null,
            "Embarked": "S",
            "Survival_Reason": "Survived due to being a female passenger with family relations (SibSp and Parch) that likely received priority during evacuation."
        },
        {
            "PassengerId": 105,
            "Survived": 0,
            "Pclass": 3,
            "Name": "Gustafsson, Mr. Anders Vilhelm",
            "Sex": "male",
            "Age": 37.0,
            "SibSp": 2,
            "Parch": 0,
            "Ticket": "3101276",
            "Fare": 7.925,
            "Cabin": null,
            "Embarked": "S",
            "Survival_Reason": "Did not survive possibly due to being a male passenger in third class without family relations onboard."
        },
        {
            "PassengerId": 788,
            "Survived": 0,
            "Pclass": 3,
            "Name": "Rice, Master. George Hugh",
            "Sex": "male",
            "Age": 8.0,
            "SibSp": 4,
            "Parch": 1,
            "Ticket": "382652",
            "Fare": 29.125,
            "Cabin": null,
            "Embarked": "Q",
            "Survival_Reason": "Did not survive possibly due to being a young male passenger in third class with multiple family members onboard."
        },
        {
            "PassengerId": 864,
            "Survived": 0,
            "Pclass": 3,
            "Name": "Sage, Miss. Dorothy Edith \"Dolly\"",
            "Sex": "female",
            "Age": null,
            "SibSp": 8,
            "Parch": 2,
            "Ticket": "CA. 2343",
            "Fare": 69.55,
            "Cabin": null,
            "Embarked": "S",
            "Survival_Reason": "Did not survive possibly due to being a female passenger in third class with a large family group onboard."
        },
        {
            "PassengerId": 457,
            "Survived": 1,
            "Pclass": 1,
            "Name": "Kenyon, Mrs. Frederick R (Marion)",
            "Sex": "female",
            "Age": null,
            "SibSp": 1,
            "Parch": 0,
            "Ticket": "17464",
            "Fare": 51.8625,
            "Cabin": "D21",
            "Embarked": "S",
            "Survival_Reason": "Survived due to being a female passenger in first class, which likely had higher priority during evacuation."
        }
    ]
}

## Transform Full Output

In [28]:
# Apply the transformation to the source data and print the results.
results = DataTransformerObj.transform(source_data={"titanic": df[:50]})

> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 1, "Survived": 0, "Pclass": 3, "Name": "Braund, Mr. Owen Harris", "Sex": "male", "Age": 22.0, "SibSp": 1, "Parch": 0, "Ticket": "A/5 21171", "Fare": 7.25, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 2, "Survived": 1, "Pclass": 1, "Name": "Cumings, Mrs. John Bradley (Florence Briggs Thayer)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17599", "Fare": 71.2833, "Cabin": "C85", "Embarked": "C"}, {"PassengerId": 3, "Survived": 1, "Pclass": 3, "Name": "Heikkinen, Miss. Laina", "Sex": "female", "Age": 26.0, "SibSp": 0, "Parch": 0, "Ticket": "STON/O2. 3101282", "Fare": 7.925, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 4, "Survived": 1, "Pclass": 1, "Name": "Futrelle, Mrs. Jacques Heath (Lily May Peel)", "Sex": "female", "Age": 35.0, "SibSp": 1, "Parch": 0, "Ticket": "113803", "Fare": 53.1, "Cabin": "C123", "Embarked": "S"}, {"PassengerId": 5, "Survived": 0, "Pclass": 3, "Name": "Allen, Mr. William Henry", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "373450", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 6, "Survived": 0, "Pclass": 3, "Name": "Moran, Mr. James", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330877", "Fare": 8.4583, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 7, "Survived": 0, "Pclass": 1, "Name": "McCarthy, Mr. Timothy J", "Sex": "male", "Age": 54.0, "SibSp": 0, "Parch": 0, "Ticket": "17463", "Fare": 51.8625, "Cabin": "E46", "Embarked": "S"}, {"PassengerId": 8, "Survived": 0, "Pclass": 3, "Name": "Palsson, Master. Gosta Leonard", "Sex": "male", "Age": 2.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 9, "Survived": 1, "Pclass": 3, "Name": "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)", "Sex": "female", "Age": 27.0, "SibSp": 0, "Parch": 2, "Ticket": "347742", "Fare": 11.1333, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 10, "Survived": 1, "Pclass": 2, "Name": "Nasser, Mrs. Nicholas (Adele Achem)", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "237736", "Fare": 30.0708, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 11, "Survived": 1, "Pclass": 3, "Name": "Sandstrom, Miss. Marguerite Rut", "Sex": "female", "Age": 4.0, "SibSp": 1, "Parch": 1, "Ticket": "PP 9549", "Fare": 16.7, "Cabin": "G6", "Embarked": "S"}, {"PassengerId": 12, "Survived": 1, "Pclass": 1, "Name": "Bonnell, Miss. Elizabeth", "Sex": "female", "Age": 58.0, "SibSp": 0, "Parch": 0, "Ticket": "113783", "Fare": 26.55, "Cabin": "C103", "Embarked": "S"}, {"PassengerId": 13, "Survived": 0, "Pclass": 3, "Name": "Saundercock, Mr. William Henry", "Sex": "male", "Age": 20.0, "SibSp": 0, "Parch": 0, "Ticket": "A/5. 2151", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 14, "Survived": 0, "Pclass": 3, "Name": "Andersson, Mr. Anders Johan", "Sex": "male", "Age": 39.0, "SibSp": 1, "Parch": 5, "Ticket": "347082", "Fare": 31.275, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 15, "Survived": 0, "Pclass": 3, "Name": "Vestrom, Miss. Hulda Amanda Adolfina", "Sex": "female", "Age": 14.0, "SibSp": 0, "Parch": 0, "Ticket": "350406", "Fare": 7.8542, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 16, "Survived": 1, "Pclass": 2, "Name": "Hewlett, Mrs. (Mary D Kingcome) ", "Sex": "female", "Age": 55.0, "SibSp": 0, "Parch": 0, "Ticket": "248706", "Fare": 16.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 17, "Survived": 0, "Pclass": 3, "Name": "Rice, Master. Eugene", "Sex": "male", "Age": 2.0, "SibSp": 4, "Parch": 1, "Ticket": "382652", "Fare": 29.125, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 18, "Survived": 1, "Pclass": 2, "Name": "Williams, Mr. Charles Eugene", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "244373", "Fare": 13.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 19, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)", "Sex": "female", "Age": 31.0, "SibSp": 1, "Parch": 0, "Ticket": "345763", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 20, "Survived": 1, "Pclass": 3, "Name": "Masselmani, Mrs. Fatima", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2649", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 21, "Survived": 0, "Pclass": 2, "Name": "Fynney, Mr. Joseph J", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "239865", "Fare": 26.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 22, "Survived": 1, "Pclass": 2, "Name": "Beesley, Mr. Lawrence", "Sex": "male", "Age": 34.0, "SibSp": 0, "Parch": 0, "Ticket": "248698", "Fare": 13.0, "Cabin": "D56", "Embarked": "S"}, {"PassengerId": 23, "Survived": 1, "Pclass": 3, "Name": "McGowan, Miss. Anna \\Annie\\\"\"", "Sex": "female", "Age": 15.0, "SibSp": 0, "Parch": 0, "Ticket": "330923", "Fare": 8.0292, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 24, "Survived": 1, "Pclass": 1, "Name": "Sloper, Mr. William Thompson", "Sex": "male", "Age": 28.0, "SibSp": 0, "Parch": 0, "Ticket": "113788", "Fare": 35.5, "Cabin": "A6", "Embarked": "S"}, {"PassengerId": 25, "Survived": 0, "Pclass": 3, "Name": "Palsson, Miss. Torborg Danira", "Sex": "female", "Age": 8.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 26, "Survived": 1, "Pclass": 3, "Name": "Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 5, "Ticket": "347077", "Fare": 31.3875, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 27, "Survived": 0, "Pclass": 3, "Name": "Emir, Mr. Farred Chehab", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2631", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 28, "Survived": 0, "Pclass": 1, "Name": "Fortune, Mr. Charles Alexander", "Sex": "male", "Age": 19.0, "SibSp": 3, "Parch": 2, "Ticket": "19950", "Fare": 263.0, "Cabin": "C23 C25 C27", "Embarked": "S"}, {"PassengerId": 29, "Survived": 1, "Pclass": 3, "Name": "O'Dwyer, Miss. Ellen \\Nellie\\\"\"", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330959", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 30, "Survived": 0, "Pclass": 3, "Name": "Todoroff, Mr. Lalio", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349216", "Fare": 7.8958, "Cabin": NaN, "Embarked": "S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 31, "Survived": 0, "Pclass": 1, "Name": "Uruchurtu, Don. Manuel E", "Sex": "male", "Age": 40.0, "SibSp": 0, "Parch": 0, "Ticket": "PC 17601", "Fare": 27.7208, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 32, "Survived": 1, "Pclass": 1, "Name": "Spencer, Mrs. William Augustus (Marie Eugenie)", "Sex": "female", "Age": NaN, "SibSp": 1, "Parch": 0, "Ticket": "PC 17569", "Fare": 146.5208, "Cabin": "B78", "Embarked": "C"}, {"PassengerId": 33, "Survived": 1, "Pclass": 3, "Name": "Glynn, Miss. Mary Agatha", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "335677", "Fare": 7.75, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 34, "Survived": 0, "Pclass": 2, "Name": "Wheadon, Mr. Edward H", "Sex": "male", "Age": 66.0, "SibSp": 0, "Parch": 0, "Ticket": "C.A. 24579", "Fare": 10.5, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 35, "Survived": 0, "Pclass": 1, "Name": "Meyer, Mr. Edgar Joseph", "Sex": "male", "Age": 28.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17604", "Fare": 82.1708, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 36, "Survived": 0, "Pclass": 1, "Name": "Holverson, Mr. Alexander Oskar", "Sex": "male", "Age": 42.0, "SibSp": 1, "Parch": 0, "Ticket": "113789", "Fare": 52.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 37, "Survived": 1, "Pclass": 3, "Name": "Mamee, Mr. Hanna", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2677", "Fare": 7.2292, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 38, "Survived": 0, "Pclass": 3, "Name": "Cann, Mr. Ernest Charles", "Sex": "male", "Age": 21.0, "SibSp": 0, "Parch": 0, "Ticket": "A./5. 2152", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 39, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Miss. Augusta Maria", "Sex": "female", "Age": 18.0, "SibSp": 2, "Parch": 0, "Ticket": "345764", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 40, "Survived": 1, "Pclass": 3, "Name": "Nicola-Yarred, Miss. Jamila", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "2651", "Fare": 11.2417, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 41, "Survived": 0, "Pclass": 3, "Name": "Ahlin, Mrs. Johan (Johanna Persdotter Larsson)", "Sex": "female", "Age": 40.0, "SibSp": 1, "Parch": 0, "Ticket": "7546", "Fare": 9.475, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 42, "Survived": 0, "Pclass": 2, "Name": "Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)", "Sex": "female", "Age": 27.0, "SibSp": 1, "Parch": 0, "Ticket": "11668", "Fare": 21.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 43, "Survived": 0, "Pclass": 3, "Name": "Kraeff, Mr. Theodor", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349253", "Fare": 7.8958, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 44, "Survived": 1, "Pclass": 2, "Name": "Laroche, Miss. Simonne Marie Anne Andree", "Sex": "female", "Age": 3.0, "SibSp": 1, "Parch": 2, "Ticket": "SC/Paris 2123", "Fare": 41.5792, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 45, "Survived": 1, "Pclass": 3, "Name": "Devaney, Miss. Margaret Delia", "Sex": "female", "Age": 19.0, "SibSp": 0, "Parch": 0, "Ticket": "330958", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 46, "Survived": 0, "Pclass": 3, "Name": "Rogers, Mr. William John", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "S.C./A.4. 23567", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 47, "Survived": 0, "Pclass": 3, "Name": "Lennon, Mr. Denis", "Sex": "male", "Age": NaN, "SibSp": 1, "Parch": 0, "Ticket": "370371", "Fare": 15.5, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 48, "Survived": 1, "Pclass": 3, "Name": "O'Driscoll, Miss. Bridget", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "14311", "Fare": 7.75, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 49, "Survived": 0, "Pclass": 3, "Name": "Samaan, Mr. Youssef", "Sex": "male", "Age": NaN, "SibSp": 2, "Parch": 0, "Ticket": "2662", "Fare": 21.6792, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 50, "Survived": 0, "Pclass": 3, "Name": "Arnold-Franchi, Mrs. Josef (Josefine Franchi)", "Sex": "female", "Age": 18.0, "SibSp": 1, "Parch": 0, "Ticket": "349237", "Fare": 17.8, "Cabin": NaN, "Embarked": "S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.

In [29]:
pd.DataFrame(results['titanic'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survival_Reason
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S,Did not survive
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"Survived due to high class, female gender, and..."
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S,Survived due to female gender
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Survived due to high class and female gender
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S,Did not survive
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q,Did not survive
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Did not survive
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S,Did not survive
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S,Survived due to female gender and family relat...
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C,Survived due to female gender and family relat...
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Survived due to being a female child with fami...
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Survived due to being a female in Class 1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Did not survive
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Did not survive
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Did not survive
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Survived due to being a female in Class 2
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Did not survive
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Survived due to being a male in Class 2
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Did not survive
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Survived due to being a female in Class 3
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Did not survive
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Survived due to higher class and lower fare
22,23,1,3,"McGowan, Miss. Anna Annie",female,15.0,0,0,330923,8.0292,NaN,Q,Survived possibly due to being female and youn...
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Survived due to higher class
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Did not survive
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,"Survived possibly due to being female, having ..."
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Did not survive
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Did not survive
28,29,1,3,"O'Dwyer, Miss. Ellen Nellie",female,NaN,0,0,330959,7.8792,NaN,Q,Survived possibly due to being female
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Did not survive
30,30,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,Did not survive due to being a male passenger ...
31,31,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,Survived due to being a female passenger in fi...
32,32,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,Survived due to being a female passenger in th...
33,33,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Did not survive due to being a male passenger ...
34,34,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,Did not survive due to being a male passenger ...
35,35,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,Did not survive due to being a male passenger ...
36,36,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,Survived due to being a male passenger in thir...
37,37,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S,Did not survive due to being a male passenger ...
38,38,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,Did not survive due to being a female passenge...
39,39,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C,Survived due to being a female passenger in th...
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,Did not survive
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,Did not survive
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,Did not survive
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,"Survived due to being young, female, and havin..."
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,Survived due to being young and female
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S,Did not survive
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,Did not survive
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q,Survived due to being young and female
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,Did not survive
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,Did not survive

## Generating Full Output in Parallel

### Setup for Parallel Execution

In [30]:
import nest_asyncio
nest_asyncio.apply()

### Generate Full Output in Parallel

Perform the transformation on a subset of the Titanic dataset.

Here, the first 45 records of the Titanic dataset are processed in parallel using the asynchronous method. The output is then collected and converted into a pandas DataFrame for easy viewing and further analysis.

In [32]:
import asyncio
generated_data = asyncio.run(DataTransformerObj.transform_in_parallel(source_data={"titanic":df[:45]}))

> Entering new LLMChain chain...


> Entering new LLMChain chain...


> Entering new LLMChain chain...


> Entering new LLMChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 1, "Survived": 0, "Pclass": 3, "Name": "Braund, Mr. Owen Harris", "Sex": "male", "Age": 22.0, "SibSp": 1, "Parch": 0, "Ticket": "A/5 21171", "Fare": 7.25, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 2, "Survived": 1, "Pclass": 1, "Name": "Cumings, Mrs. John Bradley (Florence Briggs Thayer)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17599", "Fare": 71.2833, "Cabin": "C85", "Embarked": "C"}, {"PassengerId": 3, "Survived": 1, "Pclass": 3, "Name": "Heikkinen, Miss. Laina", "Sex": "female", "Age": 26.0, "SibSp": 0, "Parch": 0, "Ticket": "STON/O2. 3101282", "Fare": 7.925, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 4, "Survived": 1, "Pclass": 1, "Name": "Futrelle, Mrs. Jacques Heath (Lily May Peel)", "Sex": "female", "Age": 35.0, "SibSp": 1, "Parch": 0, "Ticket": "113803", "Fare": 53.1, "Cabin": "C123", "Embarked": "S"}, {"PassengerId": 5, "Survived": 0, "Pclass": 3, "Name": "Allen, Mr. William Henry", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "373450", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 6, "Survived": 0, "Pclass": 3, "Name": "Moran, Mr. James", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330877", "Fare": 8.4583, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 7, "Survived": 0, "Pclass": 1, "Name": "McCarthy, Mr. Timothy J", "Sex": "male", "Age": 54.0, "SibSp": 0, "Parch": 0, "Ticket": "17463", "Fare": 51.8625, "Cabin": "E46", "Embarked": "S"}, {"PassengerId": 8, "Survived": 0, "Pclass": 3, "Name": "Palsson, Master. Gosta Leonard", "Sex": "male", "Age": 2.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 9, "Survived": 1, "Pclass": 3, "Name": "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)", "Sex": "female", "Age": 27.0, "SibSp": 0, "Parch": 2, "Ticket": "347742", "Fare": 11.1333, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 10, "Survived": 1, "Pclass": 2, "Name": "Nasser, Mrs. Nicholas (Adele Achem)", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "237736", "Fare": 30.0708, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 11, "Survived": 1, "Pclass": 3, "Name": "Sandstrom, Miss. Marguerite Rut", "Sex": "female", "Age": 4.0, "SibSp": 1, "Parch": 1, "Ticket": "PP 9549", "Fare": 16.7, "Cabin": "G6", "Embarked": "S"}, {"PassengerId": 12, "Survived": 1, "Pclass": 1, "Name": "Bonnell, Miss. Elizabeth", "Sex": "female", "Age": 58.0, "SibSp": 0, "Parch": 0, "Ticket": "113783", "Fare": 26.55, "Cabin": "C103", "Embarked": "S"}, {"PassengerId": 13, "Survived": 0, "Pclass": 3, "Name": "Saundercock, Mr. William Henry", "Sex": "male", "Age": 20.0, "SibSp": 0, "Parch": 0, "Ticket": "A/5. 2151", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 14, "Survived": 0, "Pclass": 3, "Name": "Andersson, Mr. Anders Johan", "Sex": "male", "Age": 39.0, "SibSp": 1, "Parch": 5, "Ticket": "347082", "Fare": 31.275, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 15, "Survived": 0, "Pclass": 3, "Name": "Vestrom, Miss. Hulda Amanda Adolfina", "Sex": "female", "Age": 14.0, "SibSp": 0, "Parch": 0, "Ticket": "350406", "Fare": 7.8542, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 16, "Survived": 1, "Pclass": 2, "Name": "Hewlett, Mrs. (Mary D Kingcome) ", "Sex": "female", "Age": 55.0, "SibSp": 0, "Parch": 0, "Ticket": "248706", "Fare": 16.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 17, "Survived": 0, "Pclass": 3, "Name": "Rice, Master. Eugene", "Sex": "male", "Age": 2.0, "SibSp": 4, "Parch": 1, "Ticket": "382652", "Fare": 29.125, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 18, "Survived": 1, "Pclass": 2, "Name": "Williams, Mr. Charles Eugene", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "244373", "Fare": 13.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 19, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)", "Sex": "female", "Age": 31.0, "SibSp": 1, "Parch": 0, "Ticket": "345763", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 20, "Survived": 1, "Pclass": 3, "Name": "Masselmani, Mrs. Fatima", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2649", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 21, "Survived": 0, "Pclass": 2, "Name": "Fynney, Mr. Joseph J", "Sex": "male", "Age": 35.0, "SibSp": 0, "Parch": 0, "Ticket": "239865", "Fare": 26.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 22, "Survived": 1, "Pclass": 2, "Name": "Beesley, Mr. Lawrence", "Sex": "male", "Age": 34.0, "SibSp": 0, "Parch": 0, "Ticket": "248698", "Fare": 13.0, "Cabin": "D56", "Embarked": "S"}, {"PassengerId": 23, "Survived": 1, "Pclass": 3, "Name": "McGowan, Miss. Anna \\Annie\\\"\"", "Sex": "female", "Age": 15.0, "SibSp": 0, "Parch": 0, "Ticket": "330923", "Fare": 8.0292, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 24, "Survived": 1, "Pclass": 1, "Name": "Sloper, Mr. William Thompson", "Sex": "male", "Age": 28.0, "SibSp": 0, "Parch": 0, "Ticket": "113788", "Fare": 35.5, "Cabin": "A6", "Embarked": "S"}, {"PassengerId": 25, "Survived": 0, "Pclass": 3, "Name": "Palsson, Miss. Torborg Danira", "Sex": "female", "Age": 8.0, "SibSp": 3, "Parch": 1, "Ticket": "349909", "Fare": 21.075, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 26, "Survived": 1, "Pclass": 3, "Name": "Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)", "Sex": "female", "Age": 38.0, "SibSp": 1, "Parch": 5, "Ticket": "347077", "Fare": 31.3875, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 27, "Survived": 0, "Pclass": 3, "Name": "Emir, Mr. Farred Chehab", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2631", "Fare": 7.225, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 28, "Survived": 0, "Pclass": 1, "Name": "Fortune, Mr. Charles Alexander", "Sex": "male", "Age": 19.0, "SibSp": 3, "Parch": 2, "Ticket": "19950", "Fare": 263.0, "Cabin": "C23 C25 C27", "Embarked": "S"}, {"PassengerId": 29, "Survived": 1, "Pclass": 3, "Name": "O'Dwyer, Miss. Ellen \\Nellie\\\"\"", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "330959", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 30, "Survived": 0, "Pclass": 3, "Name": "Todoroff, Mr. Lalio", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349216", "Fare": 7.8958, "Cabin": NaN, "Embarked": "S"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 31, "Survived": 0, "Pclass": 1, "Name": "Uruchurtu, Don. Manuel E", "Sex": "male", "Age": 40.0, "SibSp": 0, "Parch": 0, "Ticket": "PC 17601", "Fare": 27.7208, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 32, "Survived": 1, "Pclass": 1, "Name": "Spencer, Mrs. William Augustus (Marie Eugenie)", "Sex": "female", "Age": NaN, "SibSp": 1, "Parch": 0, "Ticket": "PC 17569", "Fare": 146.5208, "Cabin": "B78", "Embarked": "C"}, {"PassengerId": 33, "Survived": 1, "Pclass": 3, "Name": "Glynn, Miss. Mary Agatha", "Sex": "female", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "335677", "Fare": 7.75, "Cabin": NaN, "Embarked": "Q"}, {"PassengerId": 34, "Survived": 0, "Pclass": 2, "Name": "Wheadon, Mr. Edward H", "Sex": "male", "Age": 66.0, "SibSp": 0, "Parch": 0, "Ticket": "C.A. 24579", "Fare": 10.5, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 35, "Survived": 0, "Pclass": 1, "Name": "Meyer, Mr. Edgar Joseph", "Sex": "male", "Age": 28.0, "SibSp": 1, "Parch": 0, "Ticket": "PC 17604", "Fare": 82.1708, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 36, "Survived": 0, "Pclass": 1, "Name": "Holverson, Mr. Alexander Oskar", "Sex": "male", "Age": 42.0, "SibSp": 1, "Parch": 0, "Ticket": "113789", "Fare": 52.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 37, "Survived": 1, "Pclass": 3, "Name": "Mamee, Mr. Hanna", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "2677", "Fare": 7.2292, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 38, "Survived": 0, "Pclass": 3, "Name": "Cann, Mr. Ernest Charles", "Sex": "male", "Age": 21.0, "SibSp": 0, "Parch": 0, "Ticket": "A./5. 2152", "Fare": 8.05, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 39, "Survived": 0, "Pclass": 3, "Name": "Vander Planke, Miss. Augusta Maria", "Sex": "female", "Age": 18.0, "SibSp": 2, "Parch": 0, "Ticket": "345764", "Fare": 18.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 40, "Survived": 1, "Pclass": 3, "Name": "Nicola-Yarred, Miss. Jamila", "Sex": "female", "Age": 14.0, "SibSp": 1, "Parch": 0, "Ticket": "2651", "Fare": 11.2417, "Cabin": NaN, "Embarked": "C"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.
Prompt after formatting:
You are a system that specializes in enriching or transforming given source data with additional attributes according to user requests. Follow the given transformation logic for adding additional features. The task as described by the user: Could you add a field explaining the survival reason for each passenger? (how its other attributes explain its survive odds); The transformation logic: 1. Check the "Survived" field to determine if the passenger survived (1) or not (0).
2. If the passenger survived, analyze the other attributes such as "Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Cabin", and "Embarked" to explain their survival odds.
3. Consider factors like class, age, gender, family relations (SibSp and Parch), fare paid, cabin location, and embarkation point in determining survival reason.
4. Based on the analysis, create a new field named "Survival_Reason" to describe why the passenger survived based on their attributes.; The output should be formatted as the input sample. The given source data is: {"titanic": [{"PassengerId": 41, "Survived": 0, "Pclass": 3, "Name": "Ahlin, Mrs. Johan (Johanna Persdotter Larsson)", "Sex": "female", "Age": 40.0, "SibSp": 1, "Parch": 0, "Ticket": "7546", "Fare": 9.475, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 42, "Survived": 0, "Pclass": 2, "Name": "Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)", "Sex": "female", "Age": 27.0, "SibSp": 1, "Parch": 0, "Ticket": "11668", "Fare": 21.0, "Cabin": NaN, "Embarked": "S"}, {"PassengerId": 43, "Survived": 0, "Pclass": 3, "Name": "Kraeff, Mr. Theodor", "Sex": "male", "Age": NaN, "SibSp": 0, "Parch": 0, "Ticket": "349253", "Fare": 7.8958, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 44, "Survived": 1, "Pclass": 2, "Name": "Laroche, Miss. Simonne Marie Anne Andree", "Sex": "female", "Age": 3.0, "SibSp": 1, "Parch": 2, "Ticket": "SC/Paris 2123", "Fare": 41.5792, "Cabin": NaN, "Embarked": "C"}, {"PassengerId": 45, "Survived": 1, "Pclass": 3, "Name": "Devaney, Miss. Margaret Delia", "Sex": "female", "Age": 19.0, "SibSp": 0, "Parch": 0, "Ticket": "330958", "Fare": 7.8792, "Cabin": NaN, "Embarked": "Q"}]}; Please make sure you output a valid JSON format, and don't cut it in the middle. Please make sure the output only contains the dataset structure. Omit any text before or after the JSON structure.

> Finished chain.

> Finished chain.

> Finished chain.

> Finished chain.

> Finished chain.

Display the transformed data: 
 The result of the asynchronous transformation is a dictionary with keys corresponding to dataset names and values as lists of dictionaries.

We convert this into a DataFrame for better readability and to leverage DataFrame functionalities for any subsequent analysis.

In [33]:
pd.DataFrame(generated_data['titanic'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survival_Reason
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S,Not specified
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"Higher class, female, higher fare, cabin location"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S,Female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Higher class, female, cabin location"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S,Not specified
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q,Not specified
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Not specified
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S,Not specified
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S,"Female, family relations"
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C,"Female, family relations"
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Survived due to being a female child traveling...
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Survived due to being a wealthy female passeng...
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,None,S,Did not survive due to being a young male pass...
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,None,S,Did not survive due to being a male passenger ...
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,None,S,Did not survive due to being a young female pa...
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,None,S,Survived due to being an older female passenge...
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,None,Q,Did not survive due to being a male child trav...
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,None,S,Survived due to being a male passenger in seco...
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,None,S,Did not survive due to being a female passenge...
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,None,C,Survived due to being a female passenger in th...
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Did not survive
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,"Survived due to class, age, and gender"
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,"Survived due to class, age, and gender"
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,"Survived due to class, age, and fare paid"
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Did not survive
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,"Survived due to class, age, and family relations"
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Did not survive
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Did not survive
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Survived due to class and embarkation point
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Did not survive
30,30,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,None,C,"Based on analysis of attributes, the survival ..."
31,31,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,"Based on analysis of attributes, the survival ..."
32,32,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,None,Q,"Based on analysis of attributes, the survival ..."
33,33,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,None,S,"Based on analysis of attributes, the survival ..."
34,34,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,None,C,"Based on analysis of attributes, the survival ..."
35,35,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,None,S,"Based on analysis of attributes, the survival ..."
36,36,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,None,C,"Based on analysis of attributes, the survival ..."
37,37,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,None,S,"Based on analysis of attributes, the survival ..."
38,38,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,None,S,"Based on analysis of attributes, the survival ..."
39,39,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,None,C,"Based on analysis of attributes, the survival ..."
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,"Based on the analysis, the passenger's surviva..."
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,"Based on the analysis, the passenger's surviva..."
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C,"Based on the analysis, the passenger's surviva..."
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,"Based on the analysis, the passenger's surviva..."
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,"Based on the analysis, the passenger's surviva..."